<ul>
  <% events.forEach((event) => { %>
  <li>
    <a href="/User/Event/<%=event._id%>"><%=event.title%></a><br />
    <form action="/User/Event/<%=event._id%>?_method=DELETE" method="POST">
      <input type="submit" value="X" />
    </form>
  </li>
  <% }) %>
</ul>
