<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs') -%>
  </head>
  <body>
    <h1></h1>
    <div id="container">
      <div id="calendar">
        <div class="weekdays">
          <div class="weekday">
            <a href="">Mon</a><br />
            <a href="/User/NewEvent">+</a>
          </div>
          <div class="weekday">
            <a href="">Tue</a><br />
            <a href="/User/NewEvent">+</a>
          </div>
          <div class="weekday">
            <a href="">Wed</a><br />
            <a href="/User/NewEvent">+</a>
          </div>
          <div class="weekday">
            <a href="">Thuy</a><br />
            <a href="/User/NewEvent">+</a>
          </div>
          <div class="weekday">
            <a href="">Fri</a><br />
            <a href="/User/NewEvent">+</a>
          </div>
          <div class="weekday">
            <a href="">Sat</a><br />
            <a href="/User/NewEvent">+</a>
          </div>
          <div class="weekday">
            <a href="">Sunday</a><br />
            <a href="/User/NewEvent">+</a>
          </div>
        </div>
        <div class="days">
          <%-include('../partials/calendarDayList.ejs')-%>
        </div>
      </div>
    </div>
  </body>
</html>
