<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs') -%>
  </head>
  <body>
    <div class="calendar-page-layout">
      <div class="sidebar">
        <div class="options">
          
        </div>
      </div>
      <div class="calendar">
        <div class="weekdays">
          <div>
            <p>Mon</p>
          </div>
          <div>
            <p>Tue</p>
          </div>
          <div>
            <p>Wed</p>
          </div>
          <div>
            <p>Thu</p>
          </div>
          <div>
            <p>Fri</p>
          </div>
          <div>
            <p>Sat</p>
          </div>
          <div>
            <p>Sun</p>
          </div>
        </div>
        <div class="days">
          <%-include('../partials/calendarDayList.ejs')-%>
        </div>
      </div>
  </div>
  </body>
</html>
