<!DOCTYPE html>
<html lang="en">
  <head>
      <%- include('../partials/head.ejs') -%>
  </head>
  <body>
    <h1>Calendar Page</h1>
    <div id="calendar-container">
      <ul>
        <li>
          <div id="Mon">
            <a href="">Monday</a><br />
            <a href="/User/NewEvent">Create An Event</a>
            <%- include('../partials/eventList.ejs')-%>
          </div>
          <br />
        </li>
        <li>
          <div id="Tues">
            <a href="">Tuesday</a><br />
            <a href="/User/NewEvent">Create An Event</a>
          </div>
          <br />
        </li>
        <li>
          <div id="Wed">
            <a href="">Wednesday</a><br />
            <a href="/User/NewEvent">Create An Event</a>
          </div>
        </li>
      </ul>
    </div>
  </body>
</html>
