<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendar</title>
</head>
<body>
    <h1>Calendar Page</h1>
    <div id="calendar-container">
        <ul>
            <li>
                <div id="Mon">
                    <a href="">Monday</a><br>
                    <a href="/user/NewEvent">Create An Event</a>
                    <ul>
                        <% events.forEach((event) => { %>
                            <li>
                                <a href="/User/Event/<%=event._id%>"><%=event.title%></a>
                            </li>
                       <% }) %>
                    </ul>
                </div>
                <br>
            </li>
            <li>
                <div id="Tues">
                    <a href="">Tuesday</a><br>
                    <a href="/user/NewEvent">Create An Event</a>
                </div>
                <br>
            </li>
            <li>
                <div id="Wed">
                    <a href="">Wednesday</a><br>
                    <a href="/User/NewEvent">Create An Event</a>
                </div>
            </li>
        </ul>
    </div>
    
</body>
</html>