<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') -%>
</head>
<body>
    <section class="form-container">
        <h1>Log In</h1>
        <form action="/user/login" method="POST">
            <label for="email">Email</label><br>
            <input type="email" name="email" id="email" placeholder="abbcd@gmail.com"><br>
            <label for="password">Password</label><br>
            <input type="text"name="password"id="password"><br>
            <br>
            <input class = "btn btn-primary"type="submit" value="Log in">
            <a class = "btn btn-secondary"href="/SignUp">Sign Up</a><br>
        </form>
    </section>
</body>
</html>