<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Day</title>
</head>
<body>
    <h1>day <%=day.date-1%></h1>
    <ul>AM
        <%day.am.forEach((hour) => { %>
            <li>
                <%=hour%>
            </li>
        <%})%>
        PM
        <%day.pm.forEach((hour) => { %>
            <li>
                <%=hour%>
            </li>
        <%})%>
    </ul>
</body>
</html>